*.a
*.lib
*.so
*.dll
build/
.vscode/
.vs/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
lib/
bin/
*.vcxproj*
*.sln
Win32/
Debug/
*.dir/
Release/

*/doc/html/
*/doc/latex/

*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.toc
